{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{%static 'css/Homepage.css'%}">
        <script src="{% static 'js/Homepage_services.js' %}"></script>

        <title>Flynet</title>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>


    <body>
        <main>
            <section class="Herosection_section">
                <header>
                  {%include 'nav_bar.html'%}
                </header>
                <div class="background-clip">
                  
                  <video autoplay loop muted plays-inline class="background-clip">
                    <source src="{%static 'assets/Porfolio video M1.mp4'%}">
                  </video>
                </div>
                <div class="fixed-bottom">
                  
                </div>
                <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                      <div class="carousel-item active" style="background-image: url('{% static 'assets/Sliding_image1.png' %}')" >
                        <div class="hero-content text-start" style="margin:5px 70px 10px;">
                            <h1 class="display-4 text-start">Surveillance Solution</h1>
                            <p class="lead">Our company offers AR, VR, and MR services, crafting<br>
                                immersive digital experiences that blend virtual and real worlds<br>
                                for various applications, from training simulations to interactive<br>
                                presentations.</p>
                        </div>
                      </div>
                      <div class="carousel-item" style="background-image: url('{% static 'assets/Sliding_image2.png'%}')">
                        <div class="hero-content text-start" style="margin:5px 70px 10px;">
                            <h1 class="display-4 text-start">Drone Technologies</h1>
                            <p class="lead"><br>
                                immersive digital experiences that blend virtual and real worlds<br>
                                for various applications, from training simulations to interactive<br>
                                presentations.</p>
                        </div>                      </div>
                      <div class="carousel-item" style="background-image: url('{% static 'assets/Sliding_image3.png' %}')">
                        <div class="hero-content text-start" style="margin:5px 70px 10px;">
                            <h1 class="display-4 text-start">IOT Solutions</h1>
                            <p class="lead">Our company offers AR, VR, and MR services, crafting<br>
                                immersive digital experiences that blend virtual and real worlds<br>
                                for various applications, from training simulations to interactive<br>
                                presentations.</p>
                        </div>   
                      </div>
                      <div class="carousel-item active" style="background-image: url('{% static 'assets/Sliding_image4.png' %}')" >
                        <div class="hero-content text-start" style="margin:5px 70px 10px;">
                            <h1 class="display-4 text-start">Mobility</h1>
                            <p class="lead">Our company offers AR, VR, and MR services, crafting<br>
                                immersive digital experiences that blend virtual and real worlds<br>
                                for various applications, from training simulations to interactive<br>
                                presentations.</p>
                        </div>
                      </div>
                      <div class="carousel-item" style="background-image: url('{% static 'assets/Sliding_image5.png'%}')">
                        <div class="hero-content text-start" style="margin:5px 70px 10px;">
                            <h1 class="display-4 text-start">Social Media Management</h1>
                            <p class="lead">Our company offers AR, VR, and MR services, crafting<br>
                                immersive digital experiences that blend virtual and real worlds<br>
                                for various applications, from training simulations to interactive<br>
                                presentations.</p>
                        </div>                      </div>
                      <div class="carousel-item" style="background-image: url('{% static 'assets/Sliding_image6.png' %}')">
                        <div class="hero-content text-start" style="margin:5px 70px 10px;">
                            <h1 class="display-4 text-start">AR, VR Solutions</h1>
                            <p class="lead">Our company offers AR, VR, and MR services, crafting<br>
                                immersive digital experiences that blend virtual and real worlds<br>
                                for various applications, from training simulations to interactive<br>
                                presentations.</p>
                        </div>   
                      </div>
                    </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div> -->
            </section>
            <section class="innovate_elevate_inspire_section">
              <h1 class="innovate_elevate_inspire_text text-center">Innovate.Elevate..<br>Inspire...</h1>
              <div class="light"></div>
              <script type="text/javascript">
                var pos = document.documentElement;
                pos.addEventListener('mousemove', e =>{
                  pos.style.setProperty('--x',e.clientX + 'px')
                  pos.style.setProperty('--y',e.clientY + 'px')
                  // console.log(e.clientX , e.clientY);
                })
              </script>
              <!-- <img class="innovate_elevate"src="{%static 'assets/image.png'%}" alt="" style="width: 100%;"> -->
            </section>

            <section class="about_us_section">
              <div class="container">
                <h1>About us</h1>
                <div class="row" style="height: 700px;">
                  <div class="col-md-6" >
                    <a
                      name=""
                      id=""
                      class="btn"
                      href="About_us"
                      role="button"
                      ><img
                      src="{%static 'assets/Rectangle 135.png'%}"
                      class="img-fluid rounded-top"
                      alt=""
                    /></a>
                    
                    
                  </div>                  
                  <div class="about_us_section_content col-md-6" style="padding-top: 90px;">
                    <h2 style="font-size: 40px; font-family: Lexend; font-family: 500;">Pioneering Your Tech Horizon</h2>
                    <p style="font-size: 26px; font-weight: 200;">
                      Welcome to the fantastical world of Flynet Technologies, where we're not just your allies on this epic tech odyssey—we're your co-conspirators in shaking up the universe! Fueled by an insatiable thirst for the next big thing and a pledge to be nothing short of legendary.
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <section class="scrolling_logos_section">
              <div class="logos">
                <div class="logos-slide">
                  <img src="{% static 'assets/TN_Logo.png'%}"/>
                  <img src="{% static 'assets/indian_air_force.png'%}"/>
                  <img src="{% static 'assets/Nit_logo.png'%}"/>
                  <img src="{% static 'assets/SDAT.png'%}"/>
                  <img src="{% static 'assets/TNSACS.png'%}"/>
                  <img src="{% static 'assets/SIDCO.png'%}"/>
                  <img src="{% static 'assets/TIDCO.png'%}"/>
                  <img src="{% static 'assets/ZOO.png'%}"/>
                  <img src="{% static 'assets/TN_Logo.png'%}"/>
                  <img src="{% static 'assets/indian_air_force.png'%}"/>
                  <img src="{% static 'assets/Nit_logo.png'%}"/>
                  <img src="{% static 'assets/SDAT.png'%}"/>
                  <img src="{% static 'assets/TNSACS.png'%}"/>
                  <img src="{% static 'assets/SIDCO.png'%}"/>
                  <img src="{% static 'assets/TIDCO.png'%}"/>
                  <img src="{% static 'assets/ZOO.png'%}"/>
                  
                </div>
              </div>
            </section>
            <section class="our_service_section">
              <div class="container">
                <p class="our_service_text text-center">Our Services</h1>
              </div>
              {%include 'services_demo1.html'%}
            </section>
            <section class="why_choose_us_section">
              <div class="container text-center text-white">
                <h1>Why Us</h1>
                <div class="row justify-content-center align-items-center mt-5">
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-4">
                      <div class="icon mb-3">
                        <h3>AI Surveillance Solutions</h3>
                    <p>Safeguard what matters most with our state-of-the-art AI surveillance systems.</p>
                    </div>
                    
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mt-5">
                  <div class="col-md-4">
                    <div class="icon mb-3">
                      <h3>IT Consulting</h3>
                      <p>Maximize your technology investments with expert guidance.</p>    
    
                  </div>
                  </div>
                  <div class="col-md-4">
                   <img
                    src="{% static 'assets/choose_us.png'%}"
                    class="img-fluid rounded-top"
                    alt=""
                   />
                   
                  </div>
                  <div class="col-md-4">
                    <div class="icon mb-3">
                        <h3>Drones</h3>
                  <p>Elevating Possibilities: Experience the future with our advanced drone solutions.</p> 
                  </div>
                  </div>
              </div>

                <!-- <div class="row justify-content-center align-items-center mt-5">
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-4">
                        <div class="icon mb-3">
                          <h3>BPO Services</h3>
                        <p>Challenge the limits to ignite fresh inspiration and foster continuous expansion.</p>
                        </div>
                        
                    </div> -->
                    <div class="col-md-4">
                        
                    </div>
                </div>
            </div>

            </section>

            <section class="blog_section">
    
              <div class="container">
                  <p class="mb-4" style="font-weight: 400; font-size: 64px; text-align: center;">Our Blogs</p>
                  <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <a href="Blog_page">
                          <div class="blog-post position-relative">
                            <img src="{% static 'assets/ripon_building.png' %}" alt="Blog Image">
                            <span class="badge badge-popular">Popular</span>
                            <div class="p-3">
                                <p class="text-muted mb-1">Aug 28, 2023 - 2 min</p>
                                <h4>Asian Champions Trophy 2023 | Watch Chennai’s iconic Ripon building light up to celebrate hockey</h4>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="fa fa-eye"></i> 39</span>
                                    <span><i class="fa fa-comments"></i> 0</span>
                                    <span><i class="fa fa-heart"></i> 3</span>
                                </div>
                            </div>
                        </div>
                        </a>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="blog-post position-relative">
                              <img src="{% static 'assets/ripon_building.png' %}" alt="Blog Image">
                              <span class="badge badge-popular blue">Popular</span>
                              <div class="p-3">
                                  <p class="text-muted mb-1">Aug 28, 2023 - 1 min</p>
                                  <h4>Asian Champions Trophy 2023 | Watch Chennai’s iconic Ripon building light up to celebrate hockey</h4>
                                  <hr>
                                  <div class="d-flex justify-content-between align-items-center">
                                      <span><i class="fa fa-eye"></i> 39</span>
                                      <span><i class="fa fa-comments"></i> 0</span>
                                      <span><i class="fa fa-heart"></i> 3</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="blog-post position-relative">
                              <img src="{% static 'assets/ripon_building.png' %}" alt="Blog Image">
                              <span class="badge badge-popular">Popular</span>
                              <div class="p-3">
                                  <p class="text-muted mb-1">Aug 28, 2023 - 1 min</p>
                                  <h4>Asian Champions Trophy 2023 | Watch Chennai’s iconic Ripon building light up to celebrate hockey</h4>
                                  <hr>
                                  <div class="d-flex justify-content-between align-items-center">
                                      <span><i class="fa fa-eye"></i> 39</span>
                                      <span><i class="fa fa-comments"></i> 0</span>
                                      <span><i class="fa fa-heart"></i> 3</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              
            </section>
        </main>
        <footer>
          {%include 'footer.html'%}
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
          integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" 
          crossorigin="anonymous">
        </script> 
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
