{%load static%}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{%static 'css/sub_services1.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <title>AI based Surveillance Systems</title>
        <script src="{% static 'js/sub_services.js' %}"></script>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        </header>
        <main>
            <section class="sub_service_herosection" style="background-image: url('{%static 'assets/cctv.jpeg'%}');">
                <div class="hero-content">
                    <div class="container">
                        <h2>Our Services</h2>
                    <div>
                        <hr class="services_line">
                    </div>
                    <h1>Advanced Drone Product & Technology Solutions</h1>
                    <h3>“Advanced Drone Product & Technology Solutions”</h3>
                    <p class="text-start">Experience unparalleled aerial capabilities with our state-of-the-art drone solutions, designed for various applications. Whether you're conducting precision surveying or capturing dynamic event coverage, our drones deliver exceptional performance and innovative features. Optimize your efficiency and access new perspectives with our advanced technology solutions.
                        </p>
                </div>
                    </div>
            </section>
            <section class="key-features">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Key Features</h1>
                            <div class="feature">
                                <h3>Precision Surveying:</h3>
                                <p>Achieve highly accurate data collection with our advanced mapping and surveying capabilities.
                                    </p>
                            </div>
                            <div class="feature">
                                <h3>Dynamic Event Coverage:</h3>
                                <p>Capture stunning aerial footage and images for any event with ease.</p>
                            </div>
                            <div class="feature">
                                <h3>High-Quality Performance:</h3>
                                <p>Benefit from robust design and reliable operation in diverse environments.
                                    </p>
                            </div>
                            <div class="feature">
                                <h3>Innovative Technology: </h3>
                                <p>Leverage the latest advancements in drone technology for superior results.
                                    </p>
                            </div>
                            <div class="feature">
                                <h3>User-Friendly Interface: </h3>
                                <p>Enjoy intuitive controls and seamless integration with existing systems.
                                    </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{%static 'assets/sub_services2.png'%}" alt="">
                        </div>
                    </div>
                </div>

            </section>
            <section class="benefits">
                <div class="container" style="color: white;">
                    <h1 class="text-start" style="font-size: 64px;">Perks</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="benefit-item">
                                <h3> Enhanced Efficiency:</h3>
                                <p>Streamline your operations with quick and accurate aerial surveys
                                    </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="benefit-item">
                                <h3>Cost-Effective Solutions:</h3>
                                <p>Reduce costs with our versatile and reusable drone technology</p>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="benefit-item">
                                    <h3> Versatile Applications:</h3>
                                    <p> Suitable for a variety of industries, including agriculture, construction, real estate, and event management.
                                        </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="benefit-item">
                                    <h3> Unique Perspectives:</h3>
                                    <p>Gain new insights and viewpoints with high-resolution aerial imagery.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="benefit-item">
                                    <h3> Increased Safety:</h3>
                                    <p>Conduct surveys and inspections in hard-to-reach or hazardous areas without risk.</p>
                                </div>
                            </div>
                </div>

                </div>
                <!-- <div class="benefit-items">
                    <div class="benefit-item">
                        <h3>Enhanced Security</h3>
                        <p>Proactively addresses security threats, ensuring safer environments.</p>
                    </div>
                    <div class="benefit-item">
                        <h3>Enhanced Security</h3>
                        <p>Proactively addresses security threats, ensuring safer environments.</p>
                    </div>
                </div> -->
            </section>
        </main>
        <footer>
            {%include 'footer.html'%}
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
