{%load static%}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{%static 'css/sub_services1.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <title>AI based Surveillance Systems</title>
        <script src="{% static 'js/sub_services.js' %}"></script>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            {%include 'nav_bar.html'%}
        </header>
        <main>
            <section class="sub_service_herosection" style="background-image: url('{%static 'assets/audio.jpeg'%}');">
                <div class="hero-content">
                    <div class="container">
                        <h2>Our Services</h2>
                    <div>
                        <hr class="services_line">
                    </div>
                    <h1>IT and Audio/Visual Consulting</h1>
                    <h3>"Next-Gen IT & Audio/Visual Consulting"</h3>
                    <p class="text-start">Our IT and Audio / Visual Consulting services provide specialized expertise
                        to enhance your technology and media infrastructure. With a focus on
                        system integration and custom solutions, we ensure seamless performance
                        and exceptional quality, empowering your business with innovative IT and
                        AV capabilities.</p>
                </div>
                    </div>
            </section>
            <section class="key-features">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Key Features</h1>
                            <div class="feature">
                                <h3>Expert Guidance:</h3>
                                <p>Benefit from specialized knowledge and insights to
                                    optimize your technology and media infrastructure.</p>
                            </div>
                            <div class="feature">
                                <h3>System Insights:</h3>
                                <p>Perform in-depth evaluations of current systems to
                                    identify capabilities, obstacles, and areas for enhancement, ensuring
                                    a clear understanding of opportunities for improvement.</p>
                            </div>
                            <div class="feature">
                                <h3>Custom Solutions:</h3>
                                <p>Receive tailored strategies that align with your
                                    specific business needs and objectives.</p>
                            </div>
                            <div class="feature">
                                <h3>Seamless Integration:</h3>
                                <p>Ensure smooth implementation of new
                                    technologies with minimal disruption to your operations.
                                    </p>
                            </div>
                            <div class="feature">
                                <h3>Ongoing Support:</h3>
                                <p>Access continuous maintenance and support to
                                    guarantee the longevity and optimal performance of your IT and AV
                                    systems.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{%static 'assets/sub_services2.png'%}" alt="">
                        </div>
                    </div>
                </div>

            </section>
            <section class="benefits">
                <div class="container" style="color: white;">
                    <h1 class="text-start" style="font-size: 64px;">Perks</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="benefit-item">
                                <h3>Enhanced productivity:</h3>
                                <p>By optimizing your technology and media
                                    infrastructure, we help streamline workflows and improve overall
                                    productivity, enabling your team to work more efficiently.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="benefit-item">
                                <h3>Improved communication and collaboration:</h3>
                                <p> Our solutions facilitate
                                    seamless communication and collaboration, both internally and
                                    externally, fostering a more connected and engaged workforce.
                                    </p>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="benefit-item">
                                    <h3>Competitive Advantage: </h3>
                                    <p>By leveraging cutting-edge IT and AV
                                        technologies, you can stay ahead of the curve, offering innovative
                                        servies and experiences to your stakeholders and consumers.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="benefit-item">
                                    <h3>Cost Savings: </h3>
                                    <p>Our consulting services help you make informed
                                        decisions about your technology investments, ensuring long-term
                                        cost savings and a higher return on investment.</p>
                                </div>
                            </div>
                </div>

                </div>
                <!-- <div class="benefit-items">
                    <div class="benefit-item">
                        <h3>Enhanced Security</h3>
                        <p>Proactively addresses security threats, ensuring safer environments.</p>
                    </div>
                    <div class="benefit-item">
                        <h3>Enhanced Security</h3>
                        <p>Proactively addresses security threats, ensuring safer environments.</p>
                    </div>
                </div> -->
            </section>
        </main>
        <footer>
            {%include 'footer.html'%}
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
