{%load static%}
<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

        <title>IT and Audio/Visual Consulting
        </title>
        <script src="{% static 'js/sub_services.js' %}"></script>
        <link rel="stylesheet" href="{%static 'css/sub_services.css'%}">
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            {%include 'nav_bar.html'%}
        </header>
        <main>
            <section class="sub_service_herosection" style="background-image: url('{%static 'assets/sub_services1.png'%}');">
                <div class="hero-content">
                    <div class="container">
                        <h2>Our Services</h2>
                    <div>
                        <hr class="services_line">
                    </div>
                    <h1>IT and Audio/Visual Consulting</h1>
                    <h3>Revolutionize Security with Intelligent Surveillance</h3>
                    <p class="text-start">In today's rapidly evolving world, security demands are higher than ever. Traditional surveillance methods, while useful, often fall short in terms of efficiency and real-time response. Enter the AI-Based Surveillance System – a groundbreaking solution designed to meet modern security challenges with precision and intelligence.</p>
                </div>
                    </div>
            </section>
            <section class="key-features">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Key Features</h1>
                            <div class="feature">
                                <h3>Real-Time Detection:</h3>
                                <p>Leveraging advanced AI algorithms, our system identifies potential threats instantly. Whether it's detecting unauthorized access, unusual behavior, or potential hazards, our surveillance system provides real-time alerts to ensure immediate response.</p>
                            </div>
                            <div class="feature">
                                <h3>Facial Recognition:</h3>
                                <p>Integrates cutting-edge facial recognition technology to identify individuals with high accuracy. This feature is invaluable for monitoring restricted areas, verifying identities, and tracking suspects in real-time.</p>
                            </div>
                            <div class="feature">
                                <h3>Object and Activity Recognition:</h3>
                                <p>Capable of recognizing a wide range of objects and activities. From identifying abandoned packages to detecting suspicious movements, our AI engine ensures comprehensive monitoring.</p>
                            </div>
                            <div class="feature">
                                <h3>Automated Monitoring and Alerts:</h3>
                                <p>Eliminates the need for constant human oversight. The system automatically monitors activities and sends alerts when suspicious behavior is detected, ensuring timely and efficient responses.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{%static 'assets/sub_services2.png'%}" alt="">
                        </div>
                    </div>
                </div>

            </section>
            <section class="benefits">
                <h2>Benefits</h2>
                <div class="benefit-items">
                    <div class="benefit-item">
                        <h3>Enhanced Security</h3>
                        <p>Proactively addresses security threats, ensuring safer environments.</p>
                    </div>
                    <div class="benefit-item">
                        <h3>Enhanced Security</h3>
                        <p>Proactively addresses security threats, ensuring safer environments.</p>
                    </div>
                    <div class="benefit-item">
                        <h3>Enhanced Security</h3>
                        <p>Proactively addresses security threats, ensuring safer environments.</p>
                    </div>
                    <div class="benefit-item">
                        <h3>Enhanced Security</h3>
                        <p>Proactively addresses security threats, ensuring safer environments.</p>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            {%include 'footer.html'%}
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
