{%load static%}
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{%static 'css/sub_services1.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <title>AI based Surveillance Systems</title>
        <script src="{% static 'js/sub_services.js' %}"></script>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            {%include 'nav_bar.html'%}
        </header>
        <main>
            <section class="sub_service_herosection" style="background-image: url('{%static 'assets/3D.jpeg'%}');">
                <div class="hero-content">
                    <div class="container">
                        <h2>Our Services</h2>
                    <div>
                        <hr class="services_line">
                    </div>
                    <h1>Advanced Display System</h1>
                    <h3>"See the Future with Advanced Displays"</h3>
                    <p class="text-start">Our cutting edge Display Solutions deliver spectacular visuals and advanced
                        technology for a variety of applications. Designed with high-definition
                        resolution and vibrant colors, these systems enhance surveillance,
                        presentations, advertising, and interactive experiences. We offer 3D
                        displays, LED displays, and LED display holdings, establishing a new
                        benchmark for display technology.</p>
                </div>
                    </div>
            </section>
            <section class="key-features">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Key Features</h1>
                            <div class="feature">
                                <h3>High Resolution:</h3>
                                <p>Experience crystal-clear visuals with a
                                    high-definition resolution that enhances detail and clarity.
                                    </p>
                            </div>
                            <div class="feature">
                                <h3>Vibrant Colors:</h3>
                                <p>Our advanced technology delivers a wide color gamut,
                                    ensuring rich and lifelike color reproduction.</p>
                            </div>
                            <div class="feature">
                                <h3>Seamless Integration:</h3>
                                <p>Easily integrate with existing systems for a
                                    streamlined user experience across various applications.</p>
                            </div>
                            <div class="feature">
                                <h3>Versatile Applications:</h3>
                                <p>Ideal for surveillance, presentations,
                                    advertising, and interactive experiences, catering to diverse business
                                    needs.</p>
                            </div>
                            <div class="feature">
                                <h3>3D and LED Display Options:</h3>
                                <p>Choose from innovative 3D displays and
                                    LED display holdings to create immersive and eye-catching visual
                                    experiences.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{%static 'assets/sub_services2.png'%}" alt="">
                        </div>
                    </div>
                </div>

            </section>
            <section class="benefits">
                <div class="container" style="color: white;">
                    <h1 class="text-start" style="font-size: 64px;">Perks</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="benefit-item">
                                <h3>Enhanced Visual Experience:</h3>
                                <p>The advanced technology and high-resolution capabilities provide
                                    an unparalleled visual experience, making content more engaging and
                                    impactful.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="benefit-item">
                                <h3>Improved Communication:</h3>
                                <p>With vibrant colors and clear visuals, our systems enhance
                                    communication effectiveness in presentations and advertising,
                                    capturing audience attention.</p>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="benefit-item">
                                    <h3>Increased Engagement:</h3>
                                    <p>Interactive features and versatile display options foster greater
                                        audience engagement, whether in a corporate setting or public space.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="benefit-item">
                                    <h3>Future-Proof Technology:</h3>
                                    <p>By incorporating the latest advancements in display technology,
                                        including 3D and LED options, our systems ensure your business stays
                                        ahead of the curve in visual presentation.
                                        </p>
                                </div>
                            </div>
                </div>

                </div>
                <!-- <div class="benefit-items">
                    <div class="benefit-item">
                        <h3>Enhanced Security</h3>
                        <p>Proactively addresses security threats, ensuring safer environments.</p>
                    </div>
                    <div class="benefit-item">
                        <h3>Enhanced Security</h3>
                        <p>Proactively addresses security threats, ensuring safer environments.</p>
                    </div>
                </div> -->
            </section>
        </main>
        <footer>
            {%include 'footer.html'%}
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
