body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
}
main{
    color: white;
    background-color: black;
    padding: 100px;
}
.share-buttons a {
    text-decoration: none;
    font-weight: bold;
}

.share-buttons a:hover {
    text-decoration: underline;
}
