body {
    background-color: black;
    color: white;
}
main{
    padding: 100px;
}
.contact-form {
    background:black;
    padding: 30px;
    border-radius: 10px;
}
.form-group .a{
    width: 33%;
    float: left;
}
.contact-form label {
    color: #ccc;
}